#paginateMain {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  .paginateButtonBox {
    width: 100%;
    display: flex;
    justify-content: center;
    .paginate-button {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7645D9;
      color: #ffffff;
      cursor: pointer;
      margin-left: 5px;
      border-radius: 5px;
      &:first-child {
        margin-left: 0;
      }
      &:hover, &.active {
        background-color: #6933d4;
      }
      &.active {
        cursor: default;
      }
      &.disable {
        background-color: #8e6dcf;
        cursor: no-drop;
      }
      &.hidden {
        display: none;
      }
    }
  }
}