#profileMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    .profile-and-log{
        display: grid;
        grid-template-columns: 300px 745px;
        column-gap: 15px;
        row-gap: 15px;
        margin: 0;
        padding: 0;
        width: 1060px;
        height: 500px;
        .profile-container {
            height: 100%;
            margin: 0;
            padding: 0;
            .profile {
                margin: 0;
                padding: 15px;
                background-color: white;
                width: 300px;
                height: 400px;
                border-radius: 10px;
                box-shadow: 0px 0px 9px 3px rgba(125, 125, 125, 0.2);
                .profile-image-div {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    width: 100%;
                    height: 200px;
                    margin: 0;
                    padding: 0;
                    .profle-image {
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                    }
                }
                .name-div {
                    text-align: center;
                    margin: 0;
                    padding-top: 5px;
                    .name {
                        margin: 0;
                        color: #7645D9;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                .value-div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding-top: 5px;
                    .value-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #494949;
                        min-width: 80px;
                        max-width: 190px;
                        height: 25px;
                        margin: 0;
                        padding: 0;
                        border-radius: 5px;
                        .eth-icon {
                            margin: 0 3px 0 0;
                            font-size: 12px;
                            color: white;
                        }
                        .value {
                            margin: 0;
                            color: white;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
                .wallet-div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding-top: 5px;
                    .addreess {
                        width: 230px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0 5px 0 0;
                        font-size: 14px;
                        color: #9A9A9A;
                        font-weight: 600;
                    }
                    .copy-buuton {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #7645D9;
                        width: 25px;
                        height: 25px;
                        border-radius: 3px;
                        margin: 0;
                        padding: 0;
                        &:hover {
                            cursor: pointer;
                        }
                        .copy-icon{
                            margin: 0;
                            color: white;
                            font-size: 14px;
                        }
                    }
                }
                .user-description-div {
                    margin: 0;
                    padding-top: 7px;
                    .user-description {
                        margin: 0;
                        padding: 5px 5px 5px 6px;
                        width: 270px;
                        height: 65px;
                        background-color: #E9E9E9;
                        border-radius: 5px;
                        .text-description {
                            word-wrap: break-word;
                            margin: 0;
                            font-size: 12px;
                            font-weight: normal;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .log-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            row-gap: 15px;
            margin: 0;
            padding: 0;
            .notifications-container {
                margin: 0;
                padding: 0;
                .notifications {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 10px;
                    background-color: white;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 0px 9px 3px rgba(125, 125, 125, 0.2);
                    .topic-div {
                        margin: 0;
                        padding-bottom: 2px;
                        border-bottom: 2px solid #7645D9;
                        .topic-text {
                            margin: 0;
                            font-size: 16px;
                            font-weight: bold;
                            color: #7645D9;
                        }
                    }
                    .log-notifications-div {
                        width: 100%;
                        height: 180px;
                        margin: 5px 0 0 0;
                        padding: 5px;
                        padding-left: 10px;
                        overflow-y: scroll;
                        .log-notifications-text {
                            margin: 0;
                            font-size: 12px;
                            color: #7645D9;
                            font-weight: normal;
                        }
                    }
                }
            }
            .transactions-container {
                margin: 0;
                padding: 0;
                .transactions {
                    margin: 0;
                    padding: 10px;
                    background-color: white;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 0px 9px 3px rgba(125, 125, 125, 0.2);
                }
            }
        }
    }
    .my-land {
        margin: 0;
        padding: 0;
        width: 1060px;
        height: 100%;
        .topic-my-land-div {
            width: 100%;
            display: flex;
            margin: 0;
            padding-top: 15px;
            .topic-my-land-text {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
                color: #7645D9;
            }
        }
        .show-my-land {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 15px;
            row-gap: 15px;
            margin: 0;
            padding: 15px 0 0 0;
            .land-card {
                margin: 0;
                padding: 0;
                width: 200px;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0.5px 0.5px 3px 2px rgba(0, 0, 0, 0.25);
                box-sizing: border-box;
                &:hover {
                    cursor: pointer;
                    box-shadow: 0.5px 0.5px 3px 2px #7645d9af;
                }
                .land-image-div {
                    background-color: #b6ffff;
                    margin: 0;
                    padding: 0;
                    height: 150px;
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                    .land-image {
                        margin: 0;
                        height: 140px;
                        width: 200px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .land-detail {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 10px ;
                    border-radius: 0 0 10px 10px;
                    width: 100%;
                    .name-location{
                        width: 100%;
                        margin: 0;
                        padding-bottom: 10px;
                        .land-name {
                            margin: 0;
                            padding: 0;
                            .land-name-text {
                                margin: 0;
                                font-size: 17px;
                                font-weight: bold;
                                color: black;
                            }
                        }
                        .location-div {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 0;
                            padding: 0;
                            .location-icon {
                                margin-right: 2px;
                                font-size: 18px;
                                color: #7645D9;
                            }
                            .location {
                                margin: 0;
                                font-size: 12px;
                                color: #999999;
                                font-weight: 500;
                            }
                        }
                    }
                    .status-div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding-bottom: 8px;
                        .status {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0;
                            padding: 0;
                            height: 30px;
                            width: 180px;
                            background-color: #FDBC14;
                            border-radius: 5px;
                            .status-text {
                                margin: 0;
                                color: white;
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                    }
                    .offer-div {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-top: 5px;
                        padding-top: 5px;
                        width: 100%;
                        border-top: 1.5px solid #C4C4C4;
                        .offer-text {
                            margin: 0;
                            color: #7645D9;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}