#bidLayout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-left: 5%;
    .detailMain {
        display: flex;
        justify-content: center;
        .imgMain {
            #imgLand {
                width: 275px;
                height: 335px;
                border-radius: 10px;
            }
        }
        .landLayout {
            padding-left: 30px;
            font-weight: bold;
            width: 500px;
            .textMain {
                color: #7645D9;
                .textName {
                    font-size: 24px;
                }
                .textTime {
                    padding-top: 15px;
                    font-size: 20px;
                }
                .textBox {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    font-size: 18px;
                    .textLayout {
                        display: flex;
                        flex-direction: column;
                        .text {
                            padding-top: 5px;
                            #textCount {
                                color: #5ABFBC;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        .buttonLayout {
            padding-top: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            #bar {
                display: flex;
                justify-content: center;
                width: 100%;
                border: 1px solid #C4C4C4;
            }
            .buttonMain {
                padding-top: 30px;
                display: flex;
                justify-content: space-around;
                .buttoninput {
                    #button1 {
                        font-size: 18px;
                        width: 45px;
                        height: 45px;
                        border-radius: 4px;
                        font-weight: bold;
                        color: #ffff;
                        background: #7645D9;
                        border-radius: 4px 0px 0px 4px;
                        &:hover {
                            border-radius: 4px;
                            cursor: pointer;
                            box-shadow: 0.5px 0.5px 3px 2px #7645d9af;
                        }
                    }
                    #button2 {
                        font-size: 18px;
                        width: 45px;
                        height: 45px;
                        border-radius: 4px;
                        font-weight: bold;
                        color: #ffff;
                        background: #7645D9;
                        border-radius: 0px 4px 4px 0px;
                        &:hover {
                            border-radius: 4px;
                            cursor: pointer;
                            box-shadow: 0.5px 0.5px 3px 2px #7645d9af;
                        }
                    }
                    #input {
                        width: 100px;
                        height: 45px;
                        font-weight: bold;
                        text-align: center;
                    }
                }
                .buttonbid {
                    #button {
                        font-size: 18px;
                        width: 150px;
                        height: 45px;
                        border-radius: 4px;
                        font-weight: bold;
                        color: #ffff;
                        background: #7645D9;
                        border-radius: 4px;
                        &:hover {
                            border-radius: 4px;
                            cursor: pointer;
                            box-shadow: 0.5px 0.5px 3px 2px #7645d9af;
                        }
                    }
                }
            }
        }
    }
    .otherMain {
        padding-top: 20px;
        #text {
            color: #7645D9;
            font-weight: bold;
            font-size: 20px;
            
        }
        #bar {
            display: flex;
                justify-content: center;
                width: 95%;
                border: 1px solid #C4C4C4;
        }
        .slideMain {
            padding-top: 25px;
            padding-bottom: 15px;
            width: 95%;
            .bidContainer {
                white-space: nowrap;
                align-items: center;
                display: grid;
                grid-template-columns: repeat(7,1fr);
                column-gap: 10px;
                row-gap: 15px;
                margin: 0 auto;
                padding: 15px 0 0 0;
                .arrow {
                    font-size: 48px;
                    color: #7645D9;
                    cursor: pointer;
                    display: flex;
                }
                .bodyCard {
                    width: 225px;
                    height: 300px;
                    border-radius: 10px;
                    box-shadow: 0.5px 0.5px 3px 2px rgba(0, 0, 0, 0.25);
                    box-sizing: border-box;
                    &.active {
                        box-shadow: 0.5px 0.5px 3px 2px #7645d9af; 
                    }
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0.5px 0.5px 3px 2px #7645d9af;
                    }
                    #img {
                        width: 225px;
                        height: 150px;
                        background: #CACACA;
                        border-radius: 10px 10px 0px 0px;
                    }
                    .detailMain {
                        width: 225px;
                        display: flex;
                        flex-direction: column;
                        padding-left: 10px;
                        .textCard {
                            font-size: 18px;
                            font-weight: 500;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            #textToken {
                                color: #9A9A9A;
                                font-size: 16px;
                            }
                            .location-icon {
                                margin-right: 2px;
                                font-size: 21px;
                                color: #7645D9;
                            }
                        }
                    }
                    .textBody {
                        color: #7645D9;
                        font-weight: bold;
                        padding: 30px 10px 0px 10px;
                        display: flex;
                        justify-content: space-between;
                        .textBid {
                            .gavel-icon {
                                margin-right: 5px;
                                font-size: 20px;
                                color: #5ABFBC;
                            }
                        }
                    }
                }
            }
        }
    }
}