#landModal {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.05s ease-out;
  &.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s ease-out;
  }
  #landModelBackground {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  #landBox {
    position: absolute;
    z-index: 3;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    #landDetail {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      #landName {
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
        #landNameText {
          width: fit-content;
        }
        #landCoordinate {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 16px;
          .location-icon {
            color: #5ABFBC;
          }
          .x-y {
            color: #5ABFBC;
            font-weight: 500;
          }
        }
      }
      .land-image-div {
        margin-top: 10px;
        .land-image {
          width: 150px;
        }
      }
      .tags-land {
        width: 165px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        &.listed {
          background-color: #2AC161;
        } 
        &.un-listed {
          background-color: #FDBC14;
        }
        &.no-owner {
          background-color: #C2C2C2;
        }
      }
      .land-description {
        margin-top: 20px;
        text-align: center;
        color: #280D5F;
        font-weight: light;
        width: 100%;
        height: 100px;
        text-align: left;
        text-indent: 15px;
        overflow-y: auto;
      }
      .option {
        padding-top: 20px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        color: #7645D9;
        font-weight: bold;
        font-size: 16px;
        #hirePurchase, #purchase {
          padding: 0 10px;
          cursor: pointer;
          height: 35px;
          outline: none;
          border: none;
          color: #fff;
          border-radius: 5px;
          font-weight: bold;
        }
        #hirePurchase {
          width: 125px;
          background-color: #FDBC14;
          margin-right: 10px;
          &:hover {
            background-color: #ff9900;
          }
        }
        #purchase {
          width: fit-content;
          background-color: #61C939;
          &:hover {
            background-color: #46b41b;
          }
        }
        #offerLand {
          border: none;
          background-color: #fff;
          color: #7645D9;
          font-weight: bold;
          font-size: 16px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}