#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F6FA;
    height: 650px;
    #text {
      font-size: 48px;
      font-weight: bold;
      color: #7645D9;
    }
    #description {
      color: #280D5F;
    }

    .image-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 450px;
      .image-main {
        width: 360px;
        height: 390px;
        object-fit: cover;
        object-position: center;
        margin: 0;
        position: relative;
        animation: myfirst 4s ease-out  infinite;
        animation-direction: normal;
      }
    }
    @keyframes myfirst {
      0%   {transform: translate(0px, 0px);}
      25%  {transform: translate(0px, 5px);}
      50%  {transform: translate(0px, 0px);}
      75%  {transform: translate(0px, 5px);}
      100% {transform: translate(0px, 0px);}
    }
    .button {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      .map {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #7645D9;
        background-color: #fff;
        border-radius: 50px;
        color: #7645D9;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

#landMarket {
  height: 550px;
  background: linear-gradient(279.22deg, #F1FFFF 3.66%, #A6FEC9 44.76%, #65D6D2 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  .image-matket-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0;
    padding: 0;
    .image-market {
      width: 530px;
      height: 400px;
      object-fit: cover;
      object-position: center;
      margin: 0;
    }
  }
  .land-box {
    width: 60%;
    padding: 50px 90px 50px 50px;
    .title {
      color: black;
      font-size: 45px;
      font-weight: bold;
      margin: 0;
    }
    .text-description {
      color: black;
      font-size: 18px;
      font-weight: normal;
      margin: 20px 0 0 0;
      height: 100px;
    }
    .buy-land {
      border: none;
      height: 45px;
      border-radius: 20px;
      background-color: #7645D9;
      width: 200px;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-top: 30px;
      &:hover {
        cursor: pointer;
        
      }
    }
  }
}
#landRent {
  height: 550px;
  background: linear-gradient(279.8deg, #E5E5E5 0%, #CFB8FD 42.04%, #69A3F1 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  .image-matket-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin: 0;
    padding: 0;
    .image-market {
      width: 450px;
      height: 470px;
      object-fit: cover;
      object-position: center;
      margin: 0;
    }
  }
  .land-box {
    width: 60%;
    padding: 50px 0px 50px 100px;
    .title {
      color: black;
      font-size: 45px;
      font-weight: bold;
      margin: 0;
    }
    .text-description {
      color: black;
      font-size: 18px;
      font-weight: normal;
      margin: 20px 0 0 0;
      height: 100px;
    }
    .buy-land {
      border: none;
      height: 45px;
      border-radius: 20px;
      background-color: #7645D9;
      width: 200px;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-top: 30px;
      &:hover {
        cursor: pointer;
        
      }
    }
  }
}

#footer {
  height: 60px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #home {
    #description {
      text-align: center;
    }
  }
  #land {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .land-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .text-description {
        text-align: center;
      }
    }
  }
}