#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf8ff;
    height: 100vh;
    #text {
      font-size: 48px;
      font-weight: bold;
      color: #7645D9;
    }
    #description {
      color: #280D5F;
    }

    .image-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 800px;
      height: 560px;
      .image-main {
        transform: scale(1.15);
        object-fit: cover;
        object-position: center;
        position: relative;
        animation: myfirst 4s ease-out  infinite;
        animation-direction: normal;
      }
    }
    @keyframes myfirst {
      0%   {transform: translate(0px, 0px);}
      25%  {transform: translate(0px, 5px);}
      50%  {transform: translate(0px, 0px);}
      75%  {transform: translate(0px, 5px);}
      100% {transform: translate(0px, 0px);}
    }
    .button {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      .map {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #7645D9;
        background-color: #fff;
        border-radius: 50px;
        color: #7645D9;
        padding: 10px;
        &:hover {
          cursor: pointer;
          border: 1px solid #ffffff;
          background-color: #7645D9;
          color: #ffffff;
        }
      }
    }
  }

#landOnMarket {
  background: linear-gradient(279.22deg, #F1FFFF 3.66%, #A6FEC9 44.76%, #65D6D2 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  .topic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin: 0;
    padding: 90px 0 0px 0;
    .topic-text {
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-weight: bold;
      margin: 0;
    }
  }
  .sell-and-rent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 85%;
    .land-sell {
      width: 28%;
      height: 78%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 40px;
      padding: 0;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.25);
      transition: transform .2s ease-in-out;
      &:hover {
        transform: scale(1.015);
      }
      .image-matket-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 437px;
        margin: 0;
        padding: 0;
        .cycle {
          position: absolute;
          background: linear-gradient(279.22deg, #FDFF9F 3.66%, #FEE250 41.24%, #FF7043 100%);
          height: 380px;
          width: 380px;
          border-radius: 50%;
          top: 0;
        }
        .image-market {
          transform: scale(0.33);
          object-fit: cover;
          object-position: center;
          margin: 0;
        }
      }
      .land-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px 0 10px 0;
        .title {
          color: black;
          font-size: 25px;
          font-weight: bold;
          margin: 0;
        }
        .text-description {
          color: black;
          font-size: 15px;
          font-weight: 300;
          margin: 0;
        }
        .buy-land {
          border: none;
          height: 35px;
          border-radius: 5px;
          background-color: #7645D9;
          width: 350px;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          margin-top: 30px;
          &:hover {
            cursor: pointer;
            background-color: #7f4ee2;
          }
        }
      }
    }
    .land-rent {
      width: 28%;
      height: 78%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 40px;
      padding: 0;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.25);
      transition: transform .2s ease-in-out;
      &:hover {
        transform: scale(1.015);
      }
      .image-matket-div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 437px;
        margin: 0;
        padding: 0;
        .cycle {
          position: absolute;
          background: linear-gradient(279.8deg, #E5E5E5 0%, #CFB8FD 42.04%, #69A3F1 100%);
          height: 380px;
          width: 380px;
          border-radius: 50%;
          top: 0;
          left: 4;
        }
        .image-market {
          transform: scale(0.79);
          object-fit: cover;
          object-position: center;
          margin: 0;
        }
      }
      .land-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px 0 10px 0;
        .title {
          color: black;
          font-size: 25px;
          font-weight: bold;
          margin: 0;
        }
        .text-description {
          color: black;
          font-size: 15px;
          font-weight: 300;
          margin: 0;
        }
        .buy-land {
          border: none;
          height: 35px;
          border-radius: 5px;
          background-color: #7645D9;
          width: 350px;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          margin-top: 30px;
          &:hover {
            cursor: pointer;
            background-color: #7f4ee2;
          }
        }
      }
    }
  }
}

#footer {
  height: 60px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #home {
    #description {
      text-align: center;
    }
  }
  #land {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .land-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .text-description {
        text-align: center;
      }
    }
  }
}