#modalOffer {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  #modalOfferBox {
    width: 420px;
    height: 680px;
    margin: 0;
    padding: 0 0 20px 0;
    box-shadow: 0.5px 0.5px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    background-color: #ffffff;
    #topBox {
      display: flex;
      height: 65px;
      margin: 0 0 10px 0;
      padding:0;
      .topic {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        padding: 10px 0 0 0;
        .text-topic {
          color: #7645D9;
          font-weight: bold;
          font-size: 20px;
        }
      }
      .close-icon {
        color: #494949;
        font-size: 23px;
        font-weight: bold;
        margin: 5px 5px 0 0;
        &:hover {
            cursor: pointer;
            color: #777777;
        }
      }
    }
    #imageLandBox {
      display: flex;
      justify-content: center;
      .image-land {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        margin: 0;
      }
    }
    #landNameBox {
      display: flex;
      justify-content: center;
      padding: 10px 0 15px 0;
      .land-name {
        color: #7645D9;
        font-weight: bold;
        font-size: 20px;
      }
    }
    #bestOfferBox {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 35px 0 35px;
      .best-offer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        padding: 0 5px 3px 7px;
        height: 80px;
        width: 100%;
        background-color: #F6F6F6;
        border: 1px solid #d6d2d2;
        &:hover {
          cursor: pointer;
          box-shadow: 0.5px 0.5px 2px 1px #45d9c8af;
        }
        .not-offer {
          color: #787878;
          font-weight: normal;
          font-style: italic;
          font-size: 14px;
          margin: 0;
        }
        .profile-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0;
          padding: 0;
          .image-profile {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin: 0;
            padding: 0;
            border: 1px solid #ececec;
          }
        }
        .detail-best-offer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin: 0;
          width: 280px;
          padding: 0 0 0 10px;
          .text-name {
            display: flex;
            align-items: center;
            margin: 0;
            .name {
              color: #7645D9;
              font-weight: bold;
              font-size: 15.5px;
            }
            .icon {
              color: #FDBC14;
              font-size: 12px;
              margin-left: 5px;
            }
          }
          .user-token {
            display: flex;
            margin-top: 2px;
            .token-id {
              width: 210px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 12px;
              font-weight: medium;
              margin: 0;
            }
            .copy {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: -2px 0 0 0;
              border: none;
              background-color: #7645D9;
              border-radius: 5px;
              padding: 5px;
              width: 20px;
              height: 20px;
              &:hover {
                cursor: pointer;
                background-color: #8a5ce6;
              }
              .copy-icon {
                color: #ffff;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          .tag-best-offer {
            display: flex;
            align-items: center;
            background-color: #FDBC14;
            width: 180px;
            padding: 2px 5px 2px 5px;
            border-radius: 5px;
            .ether {
              color: #fff;
              font-weight: 300;
            }
            .best-price {
              color: #fff;
              font-weight: 500;
              font-size: 13px;
              margin-left: 5px;
            }
          }
        }
      }
    }
    #offerPriceBox {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 30px 35px 20px 35px;
      align-items: flex-start;
      justify-content: center;
      .text-price-box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text-bold {
          color: #7645D9;
          font-weight: bold;
          font-size: 14px;
          margin: 0;
        }
        .text-grey {
          margin-left: 3px;
          color: #999;
          font-size: 13px;
        }
      }
      .input-box {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .input {
          width: 100%;
          height: 30px;
          outline: none;
          border-radius: 5px;
          border: 1px solid #BFBFBF;
          padding-left: 8px;
          padding-right: 7px;
          margin: 5px 0 0 0;
          &:focus {
              box-shadow: 0.5px 0.5px 3px 2px #8b5de845;
          }
          &::placeholder {
              color: #BFBFBF;
          }
        }
      }
    }
    #billBox {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 10px 37px 40px 35px;
      align-items: flex-start;
      justify-content: center;
      .bill-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .text-format {
          color: #494949;
          font-size: 14px;
        }
      }
    }
    #buttonBox {
      margin: 0;
      padding: 0;
      .button-section {
        margin: 0;
        padding: 0 37px 0 35px;
        .button {
          width: 100%;
          height: 30px;
          border: none;
          background-color: #1080E4;
          color: #fff;
          border-radius: 5px;
          font-size: 16px;
          &:hover {
            background-color: #1081e4ad;
            cursor: pointer;
          }
          &.disable {
            cursor: wait;
          }
        }
      }
    }
  }
}